<div ng-controller="tips">
    <div class="modal fade" id="tip_s" tabindex="-1" role="alert" aria-labelledby="tip_s" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #def0d8; color:#377238;">
                <div class="modal-body">
                    <p>{{msg}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 消息提示框 S-->
    <div class="modal fade" id="tip_f" tabindex="-1" role="alert" aria-labelledby="tip_f" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #f2dedf; color:#a9413e; border-color:#ebcbd0;">
                <div class="modal-body">
                    <p>{{msg}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 消息提示框 E-->
</div>


