
<style>
    .cs_pagination{
        text-align: center;
        width:100%;
        vertical-align:middle;
    }
    .cs_pagination .page{
        display: inline-block;
        vertical-align:middle;
    }
    .cs_pagination li{
        display: inline-block;padding:0px 5px;vertical-align:middle;
        height:32px;
        line-height: 30px;
    }
    .cs_pagination a,.cs_pagination input{

        display: inline-block;
        height:32px;
        line-height: 30px;
        box-sizing: border-box;
        padding:0px 10px;
        border: 1px solid #ddd;
    }

    .cs_pagination input{
        max-width:50px;
        text-align: center;
    }

</style>