//
   Created by zhengchaofan on 2017/6/15.
extends layout
block body
    form(action="/singup",method="post")
        fieldset
        legend Sign up
        p
            label first
            input(name="user[first]", type='text')
        p
            label last
            input(name="user[last]", type='text')
        p
            label email
            input(name="user[email]", type='email')
        p
            label pass
            input(name="user[pass]", type='password')
        p
            label key
            input(name="user[key]", type='text')
        p
            button Submit
        p
            a(href='/') go back