<div class="sec_6 mb15">
    <form class="form-inline" role="form" class="form_inline">
        <div class="form-group col-sm-6 mb15">
            <label class="control-label">油编号</label>
            <input type="text" class="form-control" >
        </div>

        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
            <button type="submit" class="btn btn-primary">导出EXCEL</button>
        </div>
    </form>
</div>

<div ui-view="toil"></div>
