.head-scroll-placeholder{
    height: 104px;
}
.head-scroll-banner{
    height: 560px;
    width: 100%;
    min-width: 1024px;
}
.hs-b1{
    background: url("../img/images/addUsBg_01.png") no-repeat center;
}
.hs-b2{
    background: url("../img/images/team_spirit_31.png") no-repeat center;
}
.hs-b3{
    height: 457px;
    background: url("../img/images/about_us_bg_34.png") no-repeat center;
}
.select-btns{
    height: 70px;
    line-height: 70px;
}
.select-btns a{
    display: inline-block;
    width: 124px;
    height: 38px;
    color: #494949;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    margin: 0 20px;
}
.select-btns a:hover{
    color: white;
    background-color: #1baeeb;
}
.introduce-title{
    text-align: center;
    display: inline-block;
    margin-top: 75px;
    width: 100%;
}
.introduce-title h3{
    font-size: 28px;
    color: #2686c0;
    font-weight: 400;
}
.introduce-title h3:after{
    content: '';
    display: block;
    height: 2px;
    width: 60px;
    background-color: #757577;
    margin: 8px auto 6px;
}
.introduce-title p{
    color: #757577;
    text-transform: uppercase;
    font-size: 14px;

}
.cooperative-advantage{
    width: 1024px;
    margin-top: 50px;
    margin-bottom: 55px;
}
.cooperative-advantage li{
    width: 328px;
    height: 238px;
    margin: 0 5px;
}
.cooperative-advantage-li1{
    background: url("../img/images/addUs_10.png") no-repeat;
}
.cooperative-advantage-li2{
    background: url("../img/images/addUs_12.png") no-repeat;
}
.cooperative-advantage-li3{
    background: url("../img/images/addUs_14.png") no-repeat;
}
.cooperative-advantage p{
    font-size: 14px;
    text-indent: 2em;
    line-height: 30px;
    color: #646466;
    margin-top: 40px;
}
.cooperative-advantage-p a{
    color: red;
}
/*cooperative-partner*/
.cooperative-partner{
    margin-top: 70px;
}
.cooperative-partner li{
    width: 476px;
    height: 670px;
    /*margin-left: 36px;*/
}
.cooperative-partner-left{
    margin-left: 20px;
}
.cooperative-partner-right{
    margin-left: 40px;
}
.outlineBlock{
    width: 472px;
    height: 500px;
    margin-top: 35px;
    border: 1px solid #2a88c1;
    padding-left: 30px;
    padding-top: 40px;
}
.outlineBlock-a2{
    margin-left: 60px;
}
.cooperative-partner p{
    text-align: left;
    font-size: 16px;
    color: #282828;
    text-indent: 0.5em;
    /*margin-bottom: 70px;*/
    text-align: center;
}
.cooperative-partner-left a{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 3px;
}
.cooperative-partner-right>a{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 3px;
}
.cooperative-partner-right-div>a{
    width: 230px;
    display: inline-block;
    color: #646466;
    font-size: 14px;
    line-height: 36px;
}
.cooperative-partner-right-div{
    margin-top: 10px;
}
/*cooperative-recruitment*/
.cooperative-recruitment{
    margin-top: 70px;
    margin-bottom: 65px;
}
.cooperative-recruitment-left{
    width: 404px;
    height: 297px;
    background: url("../img/images/addUs_43.png") no-repeat;
}
.cooperative-recruitment-right{
    margin-left: 58px;
    width: 474px;
}
.cooperative-recruitment-right p{
    text-indent: 2em;
    font-size: 14px;
    line-height: 30px;
    color: #646466;
}
.cooperative-recruitment-right .select-btns-click{
    margin-top: 40px;
}