/*banner开始*/
/*轮播相关*/
.head-scroll-bc{
    position: relative;
}
.head-scroll-select{
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -101px;
}
.head-scroll-select div{
    float: left;
    width: 46px;
    height: 4px;
    /*padding: 10px 0;*/
    background-color: rgba(105, 221, 236, 0.17);
    margin-right: 6px;
    cursor: pointer;
}
.head-scroll-select .colorS1{
    background-color: #69ddec;
}
.head-scroll-banner{
    height: 664px;
    width: 100%;
    min-width: 1024px;
}
.hs-b1{
    background: url("../img/images/baner_01.png") no-repeat center;
}
.hs-b2{
    background: url("../img/images/huandengpian1.jpg") no-repeat center;
}
.hs-b3{
    background: url("../img/images/huandengpian2.jpg") no-repeat center;
}
.hs-b4{
    position: relative;
    background: url("../img/images/addUsBigBg_01.png") no-repeat center;
}
.content-column-li{
    width: 33.3%;
    /*height: 296px;*/
}
.content-column-li img{
    width: 100%;
    /*height: 296px;*/
}
.ccl1{
    background: url("../img/images/col_04.png") no-repeat center;
}
.ccl2{
    background: url("../img/images/col_06.png") no-repeat center;
}
.ccl3{
    background: url("../img/images/col_08.png") no-repeat center;
}

.content-main{
    text-align: center;
    height: 490px;
    position: relative;
}
.content-main h3{
    font-size: 30px;
    font-weight: bold;
    margin-top: 96px;
    display: inline-block;
}
.content-main h4{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.content-main h4:after{
    content: "";
    display: block;
    height: 1px;
    width: 146px;
    background-color: red;
    margin: 6px auto;
}
.content-main h5{
    font-size: 16px;
    font-weight: 300;
    text-transform:uppercase;
}
.cm-ul{
    margin-top: 60px;
}
.cm-ul li{
    width: 86px;
    height: 154px;
    font-size: 14px;
    font-weight: 300;
}
.cm-li{
    margin: 0 48px;
}
.cm-div{
    width: 100%;
    height: 84px;
    margin-bottom: 20px;
}
.cm-div1{
    background: url("../img/two/normal (1).png") no-repeat center;
}
.cm-li .cm-div1:hover{
    background: url("../img/two/selected (1).png") no-repeat center;
}
.cm-div2{
    background: url("../img/two/normal (2).png") no-repeat center;
}
.cm-li .cm-div2:hover{
    background: url("../img/two/selected (2).png") no-repeat center;
}
.cm-div3{
    background: url("../img/two/normal (3).png") no-repeat center;
}
.cm-li .cm-div3:hover{
    background: url("../img/two/selected (3).png") no-repeat center;
}
.cm-div4{
    background: url("../img/two/normal (4).png") no-repeat center;
}
.cm-li .cm-div4:hover{
    background: url("../img/two/selected (4).png") no-repeat center;
}
.cm-div5{
    background: url("../img/two/normal (5).png") no-repeat center;
}
.cm-li .cm-div5:hover{
    background: url("../img/two/selected (5).png") no-repeat center;
}
.cm-div6{
    background: url("../img/two/normal (6).png") no-repeat center;
}
.cm-li .cm-div6:hover{
    background: url("../img/two/selected (6).png") no-repeat center;
}
.cm-li-first{
    margin-left: 10px;
}
.cm-li-tail{
    margin-right: 10px;
}
.content-login{
    height: 510px;
    background: url("../img/images/loginBc_35.png") no-repeat center;
    width: 100%;
    position: relative;
}
.content-login-content{
    height: 510px;
    text-align: center;
}
.content-login-content h3{
    color: white;
    font-size: 36px;
    margin-top: 180px;
    display: inline-block;
}
.content-login-button{
    width: 180px;
    height: 54px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 20px;
    background: transparent;
    display: block;
    margin: 50px auto;
    outline: none;
    cursor: pointer;
    line-height: 54px;
}
.content-download{
    height: 448px;
    text-align: center;
}
.content-download h3{
    margin-top: 60px;
    font-size: 24px;
}
.content-download h4{
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}
.content-download-g{
    width: 400px;
    margin: 30px auto 10px;
}
.content-download-g li{
    width: 134px;
    height: 168px;
    text-align: center;
    background-color: #dcdcdc;
}
.cdg-img1{
    margin-top: 4px;
}
.cdg-img2{
    margin-top: 5px;
}
.cdg-tail{
    float: right;
}
.cdg-p1{
    margin: 20px 0 10px 0;
    font-weight: 300;
}
.cdg-p2 a{
    font-weight: 300;
    color: #0000ff;
    text-decoration: underline;
}

.tail-partner{
    height: 248px;
    background-color: #f7f7f7;
    text-align: center;
}
.tail-partner h3{
    margin-top: 50px;
    font-size: 20px;
    display: inline-block;
}
.tail-partner p{
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    line-height: 40px;
}
.tail-partner p span{
    display: inline-block;
    margin-right: 20px;
}
.tail-message{
    background-color: #30333a;
    height: 200px;
    color: white;
    font-size: 14px;
    font-weight: 300;

}
.cs-ul{
    margin-top: 56px;
    display: inline-block;
}
.cs-ul li{
    padding: 0 8px;
    /*border-right: 1px solid white;*/
}
.cs-p1{
    text-align: right;
}
.cs-p{
    margin-left: 8px;
    text-transform: capitalize;
}
