<div class="sec_8 row">

    <div class="sec_1_l col-sm-8">
        <a href=""><i class="icon_27 icon_add_27"></i>新&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增</a>
        <a href=""><i class="icon_27 icon_minus_27"></i>删&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除</a>
    </div>

    <div class="col-sm-4">
        <form class="bs-example bs-example-form pb15" role="form" >
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="sec_2 table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="bold_th">
        <tr>
            <th>新建时间</th>
            <th>装车地点</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td><a href="">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>