.scroller>div:nth-of-type(1)
{
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	font-weight:bold;
	font-size:14px;
	color:#888;
	text-align: center;
}
.scroller>div:nth-of-type(1) .pullUpLabel{
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.scroller>div:nth-of-type(1){border-bottom:1px solid #b1b1b1;}
.scroller>div:nth-of-type(1)  .pullUpIcon
{
	display:inline-block;
	width:40px; height:40px;
	background:url("/pingbanche/images/pull-icon@2x.png") 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
	vertical-align:middle;margin-top: -3px;
}
.scroller>div:nth-of-type(1)  .pullUpIcon
{
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.scroller>div:nth-of-type(1).flip .pullUpIcon{
	-webkit-transform:rotate(0deg) translateZ(0);
}
.scroller>div:nth-of-type(1).loading .pullUpIcon,
{
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.myScrollbarH {
	position:absolute;
	z-index:100;
	height:7px;
	bottom:1px;
	left:2px;
	right:7px
}
.myScrollbarH > div {height:100%;}
.myScrollbarV {
	position:absolute;z-index:100;
	width:7px;bottom:7px;top:2px;right:1px
}
.myScrollbarV > div {width:100%;}
.myScrollbarH > div,
.myScrollbarV > div {
	position:absolute;
	z-index:100;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	border-width:3px;
	-webkit-border-image:url("/pingbanche/images/scrollbar.png") 6 6 6 6;
	-moz-border-image:url("/pingbanche/images/scrollbar.png") 6 6 6 6;
	-o-border-image:url("/pingbanche/images/scrollbar.png") 6 6 6 6;
	border-image:url("/pingbanche/images/scrollbar.png") 6 6 6 6;
}
.p_pt100{margin:0px; overflow: hidden;
}
.con_scroll{
	position:absolute;
	left:0;	top:110px; bottom: 0px;
	z-index:1;width:100%;background:#f2f2f2;	
	box-sizing:border-box;
	overflow: hidden;
}
.d_tab{	
	width:100%;
	background:#f2f2f2;
	overflow:auto;
 	z-index: 1;
 	height: 100%;
} 
.scroller {
	position:relative;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
}
.scroller ul {
	position:relative;
	width:100%;
	text-align:left;
}
.ul_list2 li:last-child{margin-bottom: 0px;}
.d_tab{display:none;}

.con_scroll1{
	position: absolute;
	left: 0;
	top:70px;
	bottom: 0px;
	z-index: 1;
	width: 100%;
	background: #f2f2f2;
	box-sizing: border-box;
	overflow: hidden;
}
#eval_list ul{border-top:1px solid #cfcfcf;}
/*加载动画 S*/
.spinner {
	width: 60px;
	height: 60px;
	background-color: #333;
	border-radius: 100%; 
	-webkit-animation: scaleout 1.0s infinite ease-in-out;
	animation: scaleout 1.0s infinite ease-in-out;
	position:fixed;
	left:50%;
	top:50%;		
	margin-top: -20px;
	margin-left: -20px;
	z-index:999;
	display:none;
	background:url("/pingbanche/images/progress_loading_image_02.png") no-repeat;
	background-size: 60px 60px;
}
 
@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.5) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0.6;
  }
}
 
@keyframes scaleout {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0.6;
  }
}